
/* TO DO: APPLY THIS TO ALL TOOLBARS */
/* Base styles for all toolbar components */
.toolbar-base {
  display: flex;
  flex-flow: row wrap;
  gap: 0.2em;
  padding: 0.1em 0.2em 0.1em 0.1em; /* Consistent padding */
  min-height: 0em;
  background-color: var(--right-toolbar-bg-color);
  box-sizing: border-box;
  overflow: visible; /* Allow content to overflow for wrapping */
  align-items: center;
}

.left-margin {
  margin-left: 0.5em;
}

.right-margin {
  margin-right: 0.5em;
}

.margin-bottom {
  margin-bottom: 0.3em;
}

/* When content wraps, allow height to grow NOT USED */ 
.toolbar-base.wrapped {
  height: auto;
}

.run-button {
  background-color: green;
  color: var(--run-stop-font-color);
  border: none;
  margin: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 2px;
  
}

.reset-button {
  background-color: var(--no-bg-color);
  color: var(--run-stop-font-color);
  border: none;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 2px;

}

.disabled-button {
  background-color: gray;
  color: white;
  border: none;
  margin: 0.5em;
  border-radius: 2px;
  cursor: not-allowed;
  opacity: 0.7;
}

.complex-symbol-button-size {
  width: 2.2em;
  height: 2.2em;
  align-items: center;
  justify-content: center;
}
